<h1><%= @article.title %></h1>
<p><%= link_to "Edit the article", edit_path %></p>

<p><%= @article.content %></p>

<%= link_to "Delete the article", article_path(@article), data: {confirm: 'Do you want to confirm the delete?'}, method: :delete  %> <br>

<%= link_to "Back to articles", articles_path %>
